In [4]:
import pandas as pd
import re
df = pd.read_csv('mimiciv_discharge.csv')
df = df.loc[[9],]
df

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,text
9,10024913-DS-19,10024913,27058919,DS,19,2162-11-15 00:00:00,2162-11-20 11:57:00,\nName: ___ ___ No: ___...

In [6]:
def process_text(text,threshold=0.05):
    
    ## delete \n
    text = text.replace('\n', '')
    
    ##delete the useless part
    match = re.search(r'(?<=)Sex.*?(?=Followup Instructions:)', text)
    text = match.group(0).strip() if match else text
    
    ## split the text
    sections = re.split(r'([A-Z\s]+:)', text)
    underscore_ratios = [section.count('_') / len(section) if len(section) > 0 else 0 for section in sections]
    sections = [section for section, ratio in zip(sections, underscore_ratios) if ratio <= threshold]
    text = ''.join(sections)
    
    return text

df['text'] = df['text'].apply(process_text)

In [1]:
import json

In [7]:
answers = {
  "qas": [
    {
      "answers": [
        {
          "answer_start": 745,
          "text": "BLOOD WBC-6.3 RBC-2.63* Hgb-8.8* Hct-26.9*  MCV-102* MCH-33.5* MCHC-32.9 RDW-15.8* Plt"
        },
        {
          "answer_start": 1044,
          "text": "BLOOD Hct-23.9*"
        },
        {
          "answer_start": 1185,
          "text": "BLOOD WBC-4.8 RBC-2.92* Hgb-9.1* Hct-28.9*  MCV-99* MCH-31.3 MCHC-31.7 RDW-16.8* Plt"
        },
        {
          "answer_start": 1390,
          "text": "BLOOD Hct-29.3*"
        },
        {
          "answer_start": 1516,
          "text": "BLOOD WBC-4.0 RBC-3.04* Hgb-10.0* Hct-29.9*  MCV-99* MCH-33.0* MCHC-33.5 RDW-16.5* Plt"
        },
        {
          "answer_start": 1722,
          "text": "BLOOD Hct-30.6*"
        },
        {
          "answer_start": 1935,
          "text": "BLOOD WBC-5.8 RBC-3.31* Hgb-10.8* Hct-32.5*  MCV-98 MCH-32.5* MCHC-33.2 RDW-16.7* Plt"
        },
        {
          "answer_start": 2145,
          "text": "BLOOD Neuts-52.2"
        },
        {
          "answer_start": 2192,
          "text": "Monos-8.3 Eos-4.9*  Baso-0.9"
        },
        {
          "answer_start": 2238,
          "text": "BLOOD Glucose-94 UreaN-33* Creat-1.4* Na-144  K-4.1 Cl-112* HCO3-24 AnGap-12"
        },
        {
          "answer_start": 2289,
          "text": "BLOOD ALT-13 AST-19 AlkPhos-71 TotBili-0.3"
        },
        {
          "answer_start": 2338,
          "text": "BLOOD Albumin-3.6 Calcium-8.9 Phos-3.6 Mg-2.1"
        },
        {
          "answer_start": 2379,
          "text": "BLOOD VitB12-289 Folate-6.0"
        },
        {
          "answer_start": 2417,
          "text": "BLOOD TSH-3.8"
        },
        {
          "answer_start": 2460,
          "text": "METHYLMALONIC ACID-PND"
        }
      ],
      "id": 8,
      "question": "(Content extraction) Which sentences in the note describe the labs?"
    }
  ]
}

In [8]:
type(answers)

dict

In [9]:
new_qas = json.loads(answers)

TypeError: the JSON object must be str, bytes or bytearray, not dict